@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.aboutMaster {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.about {
  display: flex;
  height: 100vh;
  min-width: 100%;
  font-size: 2rem;
}

.leftAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1.5em;
  z-index: 1;
}

.leftAbout h1 {
  width: 85%;
}

.leftAbout p {
  width: 85%;
}

.rightAbout {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.rightAbout img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: -0.5%;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgba(11, 233, 200, 0.233));
}

.aboutName {
  font-size: 3rem;
  color: var(--accent-color);
}

@media (max-width: 960px) {
  .about {
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    gap: 2em;
  }

  .leftAbout {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 524px) {
  .rightAbout img {
    height: 300px;
    width: 300px;
  }
}
