@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.contactMaster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  height: 100vh;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 60%;
  gap: 2em;
}

.title {
  text-align: right;
  width: 60%;
}

.contactText {
  width: 50%;
}

.contactIMG {
  display: flex;
  justify-content: right;
  gap: 2em;
  align-items: center;
  width: 50%;
}

.contact img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.contact img:hover {
  transform: scale(1.1);
}

.contact span {
  text-decoration: underline;
}

@media screen and (max-width: 1364px) {
  .title {
    width: 90%;
  }

  .contact {
    width: 90%;
  }
}

@media (max-width: 1020px) {
  .title {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .contact {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .contactIMG {
    justify-content: center;
  }
}

@media screen and (max-width: 715px) {
  .contactText {
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 524px) {
  .contact span {
    font-size: 1.5rem;
  }
}
