@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.projectMaster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
  max-width: $baseWidth;
  color: $normSecondary;
  text-align: left;
  margin-bottom: 5%;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  width: $baseWidth;
  text-align: center;
}

.projectWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  height: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  width: 20%;
  height: 60%;
  padding: 20px;
  transition-duration: 0.25s;
  background-color: $cardPrimary;
  border: 2px solid;
}

.project .title {
  font-size: 1.25rem;
}

.project:hover {
  transition-duration: 0.25s;
  transform: perspective(2000px) rotateX(-3deg) scale(1.1);
  // filter: drop-shadow(0 -2mm 1mm rgb(3, 181, 187));
}

.projectBackground {
  display: flex;
  min-height: 30%;
  width: $baseWidth;
  background-position: center;
  border: 2px solid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  font-size: 1rem;
}

.project .links {
  display: flex;
  justify-content: space-evenly;
  width: $baseWidth;
  font-size: 1.5rem;
}

.tools {
  display: flex;
  padding: 5px;
  width: $baseWidth;
  justify-content: space-around;
}

.tools img {
  max-height: 30px;
  width: auto;
}


@media screen and (max-width: 1246px) {
  .projectMaster {
    height: 100%;
  }

  .projectWrapper {
    justify-content: space-around;
    gap: $baseGap;
    flex-wrap: wrap;
  }

  .title {
    margin-bottom: 5%;
  }

  .project {
    height: 400px;
    width: 40%;
  }

  .project .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 710px) {
  .project {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .project {
    width: 80%;
  }
}
