@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.terminal {
    position: relative;
  height: $baseTermHeight;
  width: $baseTermWidth;
  color: white;
  background-color: $termPrimary;
  overflow-y: scroll;
}

.terminal input {
  color: white
}
