@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.about {
  width: 100%;
}

.intro {
  margin-bottom: 3%;
}

.intro span {
  color: cyan;
}

.contact span {
  display: flex;
  align-items: center;
  gap: 1em;
  color: cyan;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.contact img {
  height: 40px;
  width: auto;
}

.contact div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact span {
  color: #dbcc89;
}

.contact div p {
  color: cyan;
}

@media screen and (max-width: 925px) {
  .contact {
    justify-content: left;
    align-items: left;
  }
  .contact div {
    align-items: baseline;
    flex-direction: column;
  }
}

@media screen and (max-width: 510px) {
  .contact div {
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: fit-content;
  }
}
