@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.commandList {
  display: flex;
  flex-direction: column;
}

.typeCommands {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 5%;
}

.typeCommands span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75%;
}
.keyBoardShortcuts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 840px) {
  .typeCommands {
    width: 100%;
  }

  .keyBoardShortcuts {
    width: 100%;
  }
}

@media screen and (max-width: 616px) {
  .typeCommands {
    gap: 1em;
  }

  .typeCommands span {
    gap: 0.5em;
  }
  .command {
    color: cyan;
  }
}
