@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.commandLine {
  padding-top: 10px;
  padding-bottom: 0px;
  width: 100%;
}

.commandLine form {
  display: flex;
  align-items: center;
}

.commandLine input {
  background-color: #070b1400;
  outline: none;
  border: none;
  color: white;
  width: 100%;
}

.commandLine form {
  display: flex;
  width: 100%;
}

.commandMac {
  background-color: #070b1400;
  outline: none;
  border: none;
  color: white;
  border: 1px solid white;
  width: 100%;
  padding: 5px;
  color: black;
}

.commandMac form {
  display: flex;
  gap: 1em;
  width: 100%;
}

.commandMac form {
  display: flex;
  gap: 1em;
  width: 100%;
}

.commandMacs input {
  background-color: #070b1400;
  outline: none;
  color: black;
  border: 1px solid white;
  width: 50%;
  padding: 5px;
}
