@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.home {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.help {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    gap: 2em;
  }
}

@media screen and (max-width: 938px) {
  .hero {
    align-items: center;
  }
}
