@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.loading {
  font-size: 2rem;
  padding-left: 20px;
  padding-top: 5px;
  height: 90vh;
  width: 90vw;
  background-color: #070b14;
  color: #dbcc89;
  border: 3px solid;
}

@media screen and (max-width: 1000px) {
  .loading {
    height: 70vh;
    width: 70vw;
  }
}
