@import "/src/styles/base/base";
@import "/src/styles/base/colors";

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 3%;
  color: cyan;
}

.tip {
  color: yellow;
  margin-bottom: 2%;
}
