* {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.terminal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}
