$primary: #070b14;
$secondary: #dbcc89;
$termPrimary: #070b14b3;

// normie
$normPrimary: linear-gradient(240deg, #00e1a7, #020e0b);
$normSecondary: white;
$normAccent: yellow;
$cardPrimary: rgba(3, 181, 187, 0.299);
